/**
 *  style UserInfo component
 */

.user-info-wrap {
  background-color: $background-color;
  font-family: Lato, sans-serif;
  width: 300px;
  height: auto;
  padding: 15px;
  position: relative;
  border-radius: 4px;
  flex: 0 0 auto;

}