/**
 *  style UserName component
 */

.name-info {
  color: $red;
  font-size:14px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  font-weight: 700;

}
.subscribe-info{
  color: $light-grey;
  font-size: 13px;
  margin-top: 4px;
}
