/* line 13, ../sass/_mixins.scss */
#comments.comments-area .comment-list .vcard:before, #comments.comments-area .comment-list .comment .complaint-comment-meta:before, .complaint-form-buttons:before, #comments.comments-area .comment-list .vcard:after, #comments.comments-area .comment-list .comment .complaint-comment-meta:after, .complaint-form-buttons:after {
  content: "";
  display: table;
}
/* line 18, ../sass/_mixins.scss */
#comments.comments-area .comment-list .vcard:after, #comments.comments-area .comment-list .comment .complaint-comment-meta:after, .complaint-form-buttons:after {
  clear: both;
}

/* line 80, ../sass/_mixins.scss */
#comments.comments-area .comment-list .comment .comment-action:before, .reply-to-name:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../sass/comments.scss */
#comments.comments-area .comment-list {
  margin: 0;
  list-style: none;
}
/* line 13, ../sass/comments.scss */
#comments.comments-area .comment-list .from {
  text-transform: lowercase !important;
}
/* line 16, ../sass/comments.scss */
#comments.comments-area .comment-list ul, #comments.comments-area .comment-list li, #comments.comments-area .comment-list ol {
  margin: 0;
  list-style: none;
}
/* line 20, ../sass/comments.scss */
#comments.comments-area .comment-list > li {
  padding-left: 0 !important;
}
/* line 23, ../sass/comments.scss */
#comments.comments-area .comment-list .vcard {
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
}
/* line 30, ../sass/comments.scss */
#comments.comments-area .comment-list .vcard .avatar {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0;
  float: left;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 42, ../sass/comments.scss */
#comments.comments-area .comment-list .vcard a {
  text-decoration: none;
  color: black;
}
/* line 46, ../sass/comments.scss */
#comments.comments-area .comment-list .vcard cite {
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  padding-right: 10px !important;
}
/* line 54, ../sass/comments.scss */
#comments.comments-area .comment-list .comment-body {
  position: relative;
  background: #fff;
  padding: 10px 10px 15px;
  margin-bottom: 7px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
}
/* line 62, ../sass/comments.scss */
#comments.comments-area .comment-list .comment-author-text {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}
/* line 67, ../sass/comments.scss */
#comments.comments-area .comment-list .comment-text {
  padding-top: 5px;
  word-wrap: break-word;
}
/* line 72, ../sass/comments.scss */
#comments.comments-area .comment-list .comment-author-data {
  overflow: hidden;
  padding-top: 11px;
  min-height: 33px;
  line-height: 20px;
}
/* line 78, ../sass/comments.scss */
#comments.comments-area .comment-list .comment-author-data:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* line 86, ../sass/comments.scss */
#comments.comments-area .comment-list .comment {
  box-shadow: none;
  padding: 0;
  padding-left: 35px;
  margin-bottom: 10px;
  background: transparent;
}
/* line 93, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .fn {
  font-size: 18px;
}
/* line 98, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .children cite.fn {
  font-size: 18px;
  color: #2d2d2d;
}
/* line 104, ../sass/comments.scss */
#comments.comments-area .comment-list .comment p {
  border: none;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 5px;
  line-height: 21px;
}
/* line 113, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-meta {
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
}
/* line 118, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-meta .comment-meta.commentmetadata {
  float: left;
  margin-right: 5px;
}
/* line 121, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-meta .comment-meta.commentmetadata span {
  color: #2d2d2d;
  font-style: italic;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
}
/* line 130, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-actions {
  float: right;
}
/* line 133, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-actions a:hover {
  text-decoration: none;
  color: #00ace8;
}
/* line 137, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .complaint-comment-actions a:hover .complaint-meta-text {
  text-decoration: underline;
}
/* line 142, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .comment-action {
  font-size: 14px;
  position: relative;
  margin-left: 8px;
  font-style: normal;
  line-height: 30px;
  vertical-align: middle;
  color: #00ace8;
  display: inline-block;
}
/* line 154, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .comment-action:before {
  display: inline-block;
  vertical-align: middle;
  color: #00ace8;
  padding-right: 8px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 164, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .comment-action .comment-meta-link-icon {
  font-size: 16px;
  display: inline-block;
}
/* line 169, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .comment-reply-link {
  padding-left: 22px;
}
/* line 172, ../sass/comments.scss */
#comments.comments-area .comment-list .comment .comment-reply-link .comment-meta-link-icon {
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: 0;
}

/* line 186, ../sass/comments.scss */
.comment-form-comment {
  margin-bottom: 10px;
}

/* line 190, ../sass/comments.scss */
#reply-to {
  float: left;
  /*margin-top  : 13px;
  margin-left : 25px;*/
  margin: 0;
  width: 100%;
  background: transparent;
  height: 48px;
}

/* line 200, ../sass/comments.scss */
.comment-from {
  display: inline-block;
}

/* line 204, ../sass/comments.scss */
.reply-to-name {
  display: inline-block;
  color: #00ace8;
}
/* line 207, ../sass/comments.scss */
.reply-to-name:before {
  content: "\e6b9";
  display: inline-block;
  padding: 0 5px 0 0;
  color: #3b86c4;
}

/* line 216, ../sass/comments.scss */
.recipient-select-container {
  width: 260px;
  display: inline-block;
  float: left;
}

/* line 222, ../sass/comments.scss */
.comment-respond {
  margin-bottom: 15px;
}
/* line 225, ../sass/comments.scss */
.comment-respond h3.comment-reply-title {
  background: #fff;
  padding: 20px 29px 0 20px;
  font-size: 18px;
}
/* line 230, ../sass/comments.scss */
.comment-respond h3.comment-reply-title a {
  color: #000;
}

/* line 236, ../sass/comments.scss */
.notice-container {
  margin-bottom: 10px;
}

/* line 241, ../sass/comments.scss */
.notice {
  background-color: #4fb062;
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  text-align: center;
  height: 50px;
  display: table;
}
/* line 251, ../sass/comments.scss */
.notice .notice-txt {
  line-height: 14px;
  font-style: italic;
  position: relative;
}
/* line 257, ../sass/comments.scss */
.notice .fa-lock {
  font-size: 25px;
  vertical-align: middle;
  margin: 0;
}
/* line 263, ../sass/comments.scss */
.notice .notice-content {
  width: 59%;
}
/* line 267, ../sass/comments.scss */
.notice .notice-left, .notice .notice-right, .notice .notice-content {
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
}
/* line 273, ../sass/comments.scss */
.notice .notice-left, .notice .notice-right {
  position: relative;
  width: 19%;
  overflow: hidden;
}
/* line 279, ../sass/comments.scss */
.notice .notice-left {
  text-align: right;
}
/* line 281, ../sass/comments.scss */
.notice .notice-left:before {
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  left: -25px;
  border-top: 1px solid #fff;
}
/* line 293, ../sass/comments.scss */
.notice .notice-right {
  text-align: left;
}
/* line 295, ../sass/comments.scss */
.notice .notice-right:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: -25px;
  border-top: 1px solid #fff;
}

/* line 308, ../sass/comments.scss */
li .form-heading {
  display: none;
}

/* line 312, ../sass/comments.scss */
.comment-reply-title {
  display: none;
}

/* line 316, ../sass/comments.scss */
li .comment-reply-title {
  display: block;
}

/* line 320, ../sass/comments.scss */
.current-comment > .comment-body {
  border-left: 3px solid #f3d662;
}

/* line 324, ../sass/comments.scss */
.comment-reply-container {
  display: none;
  margin-bottom: 7px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
}
/* line 329, ../sass/comments.scss */
.comment-reply-container .recipient-select-container {
  display: none;
}
/* line 332, ../sass/comments.scss */
.comment-reply-container .bmr-file-container {
  margin-left: 0;
}
/* line 336, ../sass/comments.scss */
.comment-reply-container .comment-form {
  padding: 10px;
}
/* line 340, ../sass/comments.scss */
.comment-reply-container .comment-txtarea {
  margin-top: 0;
}
/* line 344, ../sass/comments.scss */
.comment-reply-container .fa.bmr-paperclip:before {
  left: 10px !important;
}
/* line 348, ../sass/comments.scss */
.comment-reply-container .chzn-container-single .chzn-single div {
  border: 0;
  background: none;
}
/* line 352, ../sass/comments.scss */
.comment-reply-container .chzn-container-single .chzn-single div:hover {
  background: none;
}
/* line 357, ../sass/comments.scss */
.comment-reply-container .chzn-container-single .chzn-single div b {
  border-color: #000000 transparent transparent;
}

/* line 362, ../sass/comments.scss */
.btn-comment-submit, .btn-reply {
  border: 3px solid #0087c7 !important;
  position: relative;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  z-index: 1;
}
/* line 368, ../sass/comments.scss */
.btn-comment-submit:hover, .btn-reply:hover {
  color: white;
}
/* line 371, ../sass/comments.scss */
.btn-comment-submit:hover:after, .btn-reply:hover:after {
  height: 100%;
}
/* line 375, ../sass/comments.scss */
.btn-comment-submit:after, .btn-reply:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #0087c7;
}

/* line 388, ../sass/comments.scss */
.btn-reply {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-top: 7px;
  height: 45px;
  line-height: 43px;
  box-sizing: border-box;
  text-transform: uppercase;
  background: transparent;
  color: #000;
  font-size: 16px;
  font-family: Gotham, sans-serif;
  font-weight: bold;
  padding: 0 30px;
  cursor: pointer;
}

/* line 405, ../sass/comments.scss */
.bmr-file-container {
  display: inline-block;
  float: left;
  margin-left: 11px;
  margin-right: -5px;
}

/* line 415, ../sass/comments.scss */
.bmr-file-container input[type="file"] {
  display: none;
}
/* line 418, ../sass/comments.scss */
.bmr-file-container .fa.bmr-paperclip {
  cursor: pointer;
  font-size: 30px;
  height: 45px;
  width: 45px;
  color: #292929;
}
/* line 424, ../sass/comments.scss */
.bmr-file-container .fa.bmr-paperclip:before {
  left: -11px;
}

/* line 430, ../sass/comments.scss */
.file-action-txt {
  padding-right: 10px;
}

/* line 433, ../sass/comments.scss */
.comments-area .fileArchive {
  padding: 0;
  position: relative;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}
/* line 440, ../sass/comments.scss */
.comments-area .fileArchive .delArchive, .comments-area .fileArchive .delFile {
  line-height: 22px;
  top: 10px;
  position: absolute;
  height: 22px;
  right: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #2d2d2d;
  vertical-align: middle;
  font-style: italic;
  cursor: pointer;
}
/* line 453, ../sass/comments.scss */
.comments-area .fileArchive .delArchive:after, .comments-area .fileArchive .delFile:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e62d";
  font-size: 16px;
}
/* line 459, ../sass/comments.scss */
.comments-area .fileArchive .file-preview {
  box-sizing: border-box;
  text-align: left;
  padding: 15px 110px 15px 15px;
  margin-bottom: 10px;
  background: #f0f0f0;
  border: 1px solid #d0d0d0;
  display: block;
  width: 100%;
  position: relative;
}
/* line 63, ../sass/_mixins.scss */
.comments-area .fileArchive .file-preview:after {
  content: "";
  display: table;
  clear: both;
}
/* line 471, ../sass/comments.scss */
.comments-area .fileArchive .file-preview img {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 75px;
}
/* line 479, ../sass/comments.scss */
.comments-area .fileArchive .file-title, .comments-area .fileArchive .file-size {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #292929;
}

/* line 487, ../sass/comments.scss */
.comments-area .fileLoadedPARENT {
  position: relative;
  height: 45px;
  overflow: hidden;
  background: #f0f0f0;
  border: 1px solid #d0d0d0;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}
/* line 498, ../sass/comments.scss */
.comments-area .fileLoadedPARENT .progressBar {
  height: 45px !important;
}
/* line 502, ../sass/comments.scss */
.comments-area .fileLoadedPARENT .fileLoaded {
  padding-left: 15px;
  line-height: 45px;
  color: #fff;
  font-style: italic;
  position: absolute;
  width: 100%;
}
/* line 510, ../sass/comments.scss */
.comments-area .fileLoadedPARENT .cancelFile {
  line-height: 22px;
  position: absolute;
  height: 22px;
  right: 10px;
  top: 50%;
  font-size: 14px;
  font-weight: normal;
  color: #2d2d2d;
  vertical-align: middle;
  font-style: italic;
  margin-top: -11px;
  cursor: pointer;
}
/* line 524, ../sass/comments.scss */
.comments-area .fileLoadedPARENT .cancelFile:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e62d";
  font-size: 16px;
}

/* line 532, ../sass/comments.scss */
.comments-area .file-title {
  color: #000;
}

/* line 538, ../sass/comments.scss */
.comment-file {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 10px 10px 0;
  position: relative;
}
/* line 547, ../sass/comments.scss */
.comment-file span {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  color: white;
}

/* line 563, ../sass/comments.scss */
.btn-spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  margin-right: 5px;
  -webkit-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

/* line 574, ../sass/comments.scss */
.has-spinner.processing {
  cursor: progress !important;
}

/* line 578, ../sass/comments.scss */
.has-spinner.processing .btn-spinner {
  opacity: 1;
  width: auto;
  /* This doesn't work, just fix for unkown width elements */
}

/* line 583, ../sass/comments.scss */
.file-error {
  display: none;
  font-size: 15px;
  font-family: "Open Sans";
  padding: 10px;
  margin: 10px 0;
  color: #e56c69;
  text-align: center;
  border: 1px dashed #d33636;
}
/* line 593, ../sass/comments.scss */
.file-error .file-error-msg {
  padding-left: 5px;
  vertical-align: top;
}

@media (max-width: 1179px) {
  /* line 600, ../sass/comments.scss */
  #comments.comments-area .comment-list .comment {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  /* line 606, ../sass/comments.scss */
  #comments.comments-area .comment-list .comment {
    padding-left: 15px;
  }
}
