.popupform {
    width: 300px;
    position: relative;
    background: #f1f1f1;
    padding: 0 15px 15px;

    label {
        display: block;
        margin: 13px 0 9px;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "GothamBold", sans-serif;
        color: #2d2d2d;
    }
}
.popupform-header {
    background: #4271b5;
    font-weight: normal;
    margin: 0;
    padding: 12px 0 12px 15px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}