.progressBar {
    background-color: #29d;
    position: relative;
    /*z-index: 2000;*/
    top: 0;
    left: 0;
    height: 37px;
    overflow: hidden;
    transition: width .7s;
    width: 0;
}

.progressBar-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -32px;
    bottom: 0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 32px 32px;
    animation: pace-stripe-animation 500ms linear infinite;
}


@keyframes pace-stripe-animation {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}