$grey: #D5D5D5;
$grey-light: #f0f0f0;
$dark: #222222;
$dark-light: #555555;
$grey: #d0d0d0;
$lightblue: #00ace8;
$blue: #3b86c4;
$dark-blue: #2e4f7e;
$sky: #a3c3f0;
$sky-blue: #39a8f9;
$white: #fff;
$green: #5a8d52;
$red: #e56c69;
$text: #2d2d2d;
$orange: #de8650;
$background: #f1f2f2;
$link: #00ace8;

$select-list-offset: 45px;