.assistant-devices {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

    @include assistant-icons('devices');

    .ico {
        height: 150px;
        margin-bottom: 12px;
    }
    .overlay-icons {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 200px;
        top: 24px;

        justify-content: center;

        img {
            display: none;
        }
    }
    .item {
        flex: none;
        width: 25%;
        position: relative;
        vertical-align: top;
        overflow: hidden;

        .root-label {
            display: flex;
            flex-wrap: wrap;

            .ico {
                flex: 0 0 auto;
                width: 100%;
                order: 1;
                margin-bottom: 10px;
            }
            &:before {
                order: 2;
            }
            .label-text {
                order: 3;
            }
        }

        .is-shown {
            height: 130px !important;
        }
        .hidden-checkbox {
            height: 0;
            overflow: hidden;
            padding: 15px 0 0 35px;
            transition: height .5s ease-in-out;

            label {
                margin-bottom: 14px;
            }
        }
    }
    .desktop {
        width: 35%;
        margin-bottom: 35px;
    }
    .mobile {
        .overlay-icons {
            left: 37px;
            height: 75px;

            img {
                width: 24px;
            }
        }
    }
    .tablet {
        .overlay-icons {
            left: 38px;
            height: 82px;

            img {
                width: 26px;
            }
        }
    }

    @media all and (breakpoint('tablet-portrait')) {
        width: 95%;
        margin-left: auto;
        justify-content: center;

        .item {
            width: 50%;
        }
        .desktop {
            width: 51%;
        }
    }
}