/* CUSTOM CAROUSEL */
@import "carousel";
/* RESULTS PAGE FOOTER */
@import "results-footer";

[data-current-page="results"] {
    .assistant-header, .assistant-footer {
        display: none !important;
        visibility: hidden !important;
    }
}

.assistant-results {
    margin: 11px -25px 0;

    .heading-middle {
        width: 100%;
        text-align: center;
        margin: 20px 0 30px;
    }

    .item {
        width      : 500px;
        height     : 240px;
        padding: 25px 30px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction : column;
        background-color: #fff;

        .title {
            margin: 0;
            font: normal 15px GothamBold;
            color: #131313;
            width: 100%;
            flex: none;
        }

        > .title {
            margin-bottom: 10px;
        }

        .logo {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info, .buttons {
            width: 100%;
            display: flex;
            align-self: flex-end;
            justify-content: space-between;
        }

        .rating, .match {
            flex: auto;
            .title { text-transform : uppercase; }
        }

        .rating {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .title {
                flex: none;
                width: auto;
                color: #292929;
                text-transform: uppercase;
            }
            .rate {
                font-size: 20px;
                i {
                    color: #ffc400;
                }
            }
            .point {
                font: normal 24px Gotham;
                color: #292929;
            }
        }

        .match {
            text-align: right;
            display: flex;
            align-items: center;

            .title {
                flex: auto;
                margin-right: 5px;
            }

            .percent {
                font: normal 24px Gotham;
                color: #292929;
            }
        }

        .buttons {
            margin-top: 10px;

            > a, > span {
                text-transform: uppercase;
                color: #fff;
                padding: 16px 5px;
                box-sizing: border-box;
                display: flex;
                align-items : center;
                justify-content : center;
                text-decoration: none;
                font: 15px 'GothamBold';
                position: relative;
                flex: 0 0 48%;

                &:hover {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, .25);
                    }
                }
                &.review {
                    background-color: #131313;
                }
                &.bet {
                    background-color: #ff924a;
                }

                &.is-disabled {
                    cursor: default;
                    user-select: none;
                    background-color : #bababa;

                    &:hover:before {
                        content: normal;
                    }
                }
            }
        }

        &.no-logo {
            > .title {
                flex: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
        }
    }

    @media all and (breakpoint('tablet-landscape')) {
        .item {
            width: 100%;
            height: auto;
            min-height: 242px;
        }
    }

    @media all and (breakpoint('mobile')) {
        margin: 11px 0 0;

        .item {
            min-height : 340px;
            padding: 25px 25px;

            .logo {
                margin-bottom: 15px;
            }
            .info, .buttons {
                flex-wrap : wrap;
            }
            .info {
                justify-content: flex-start;
            }
            .rating, .match {
                flex: 0 0 100%;
                margin-bottom: 10px;
            }

            .rating {
                justify-content: flex-start;
                .title, .rate {
                    margin-right: 10px;
                }
            }

            .match {
                text-align: left;

                .title {
                    flex: none;
                    margin-right: 10px;
                    width: auto;
                }
            }

            .buttons {
                > a, > span {
                    flex: 0 0 100%;
                    margin-bottom: 10px;
                }

                .bet {
                    margin-bottom: 0;
                }
            }
        }
    }
}

